/* SETTINGS */
:root{
    --red: rgb(230, 30, 40);
    --blue: rgba(40, 40, 199, 0.7);
    --yellow: rgb(220,210,55);
}

body{
    background-color: var(--blue);

}
@font-face {
    font-family: fontMain;
    src: url(./media/Ketchum.otf);
}

h1, h2, h3, h4, h5, h6{
    font-family: fontMain;
}

.text-blue{
    color: var(--blue);
}
.text-red{
    color: var(--red)
}
.text-yellow{
    color: var(--yellow);
}
/* FINE SETTINGS */
/* BOTTONI */
.btn-custom{
    background-color: whitesmoke;
    border: 5px solid var(--yellow);
    padding: 10px 10px;
}
.btn-custom:hover{
    background-color: whitesmoke;
    border: 5px solid var(--red);
    padding: 10px 10px;
}
/* FINE BOTTONI */
/* SEZIONE */
.card-custom{
    height: 70px;
    border: 5px solid var(--yellow);
    border-radius: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.trashIcon{
    cursor: pointer;
}